*{margin: 0; padding: 0;}
html{font-size: 10px}
.header{
    width: 100%;
    text-align: center;
    line-height: 4rem;
    height: 4rem;
    border-bottom: solid 1px #e1e1e1;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    position: relative;
}
.header span{
    margin: 0 0.8rem;
    display: inline-block;
    height: 3.8rem;
}
.color{
    color: #c31f3a;
    border-bottom: solid 3px #c31f3a;
}
.dengru,.zhuce{
    position: absolute;
    width: 100%;
}
.dengru i,.zhuce i{
    font-size: 2.4rem;
}
p{
    position: relative;
    padding: 1rem 0;
    margin: 0 4rem;
    height: 3rem;
    line-height: 3rem;
    border-bottom: solid 1px #e1e1e1;
}
p input{
    width: 90%;
    height: 90%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    text-indent: 1rem;
}
.dengru p:nth-child(3){
    position: relative;
}
.dengru p:nth-child(3) img{
    position: absolute;
    top: 0.8rem;
    right: 0;
}
.dengru p:nth-child(4){
    height: 3rem;
    line-height: 3rem;
    padding: 0.4rem 0;
    margin: 4rem 4rem 0;
    border-radius: 0.5rem;
    background: #94193f;
    font-size: 1.6rem;
    color: #a94765;
    text-align: center;
}
.dengru p:last-of-type{
    position: relative;
    border: none;
    color: #bd315c;
}
.dengru p:last-of-type span:first-of-type{
    float: left;
}
.dengru p:last-of-type span:last-of-type{
    float: right;
}
.zhuce p:nth-child(2){
    position: relative;
}
.zhuce p:nth-child(2) span{
    padding: 0 0.4rem;
    border: solid 1px #e1e1e1;
    color: #bd315c;
    position: absolute;
    right: 0;
}
.zhuce p:nth-child(3){
    height: 3rem;
    line-height: 3rem;
    padding: 0.4rem 0;
    margin: 4rem 4rem 0;
    border-radius: 0.5rem;
    background: #94193f;
    font-size: 1.6rem;
    color: #a94765;
    text-align: center;
}
.zhuce p:last-of-type {
    position: relative;
    border: none;
    color: #bd315c;
}
.zhuce p:last-of-type span:first-of-type{
    float: left;
}
.zhuce p:last-of-type span:last-of-type{
    float: right;
}














